h1 {
  font-size: 3vw;  
}
body {
  text-align: center;
}

.red {
  color: red;
}
.green {
  color: green;
}

.wrapper {
  width: 10vw;
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

img[src="dunder.jpg"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
